name: Run MLflow Project

on:
  push:
    branches:
      - main

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Debug folder structure
        run: ls -R .

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: MLProject/conda.yaml
          auto-activate-base: false

      - name: Install MLflow
        run: pip install mlflow

      - name: Run MLflow Project
        working-directory: MLProject
        env:
          MLFLOW_DISABLE_ENV_CREATION: "true"
        run: |
          mlflow run .

