name: Run MLflow Project

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: workflow_env
          environment-file: MLProject/conda.yaml
          python-version: 3.10

      - name: Install MLflow
        run: pip install mlflow

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run .
