name: Run MLflow Project

on:
  push:
    branches:
      - main

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Debug folder structure
        run: |
          echo "============== REPO STRUCTURE =============="
          ls -R .

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: mlflow_env
          environment-file: MLProject/conda.yaml
          python-version: 3.10

      - name: Install MLflow
        run: pip install mlflow

      - name: Run MLflow Project
        working-directory: MLProject
        run: |
          mlflow run .
